<div class="book-title">
    <header>
      <h1><%=page.title%></h1>
      <div class="metadata">
        <span> 创建时间:<%- date(page.date) %></span>
        <span> 修改时间:<%- date(page.updated) %></span>
      </div>
    <header>

</div>