<% if(theme.paginator.enable) { %>
<div id="footer-paginator">
  <% if(page.hasPrev  && page.prevPath)  { %>
    <div class="prev">
      <%- link_to(page.prevPath,`<span>上一篇: </span><span>${page.prevTitle}</span>`) %>
    </div>
  <% } %>
  <%-paginator()%>
  <% if(page.hasNext && page.nextPath) { %>
    <div class="next">
      <%- link_to(page.nextPath,`<span>下一篇: </span>${page.nextTitle}`) %>
    </div>
  <% } %>
</div>
<% } %>